body {
    font-family: Arial, sans-serif;
    margin: 0; /* Rimuovo il margine per il corpo */
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Imposto l'altezza minima del corpo per coprire l'intera finestra */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%; /* Imposto la larghezza al 100% */
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
}

.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 70%;
    margin-left: 10%;
    height: 1.8vw;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

.form-group button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-group button:hover {
    background-color: #45a049;
}


/* Stili per la tabella dei prodotti */
table {
    width: 100%;
    border-collapse: collapse;
    border: #45a049 1px solid;
}

.aggiungi_prodotto {
    width: 100%;
    margin-top: 1%;

}
