<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Homepage</title>
</head>
<body>
    <header>
        <h1>Benvenuto nella Homepage</h1>
    </header>
    <main>
        <p>Sei autenticato e puoi accedere a tutte le funzionalità.</p>
        <div class="button-container">
            <a href="/prodotti" class="button">Visualizza Prodotti</a>
            <a href="/forniture" class="button">Visualizza Forniture</a>
            <a href="/fornitori" class="button">Visualizza Fornitori</a>
            <a href="/clienti" class="button">Visualizza Clienti</a>
        </div>
    </main>
    <footer>
        <a href="/logout">Logout</a>
    </footer>
</body>
</html>
