<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Registrazione Utente</title>
</head>
<body>
    <header>
        <h1>Registrazione Nuovo Utente</h1>
    </header>
    <main>
        <div class="login-form">
            <form method="POST" action="/register_user">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.submit() }}
                </div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul>
                  {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
    </main>
    <footer>
        <a href="/view_add_user">Aggiungi utente</a>
        <a href="/reset-password">Password dimenticata?</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-and-conditions">Termini e Condizioni</a>
        <a href="/">Torna alla homepage</a>
    </footer>
</body>
</html>
